<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      angular.module('intervalExample', [])
        .controller('ExampleController', ['$scope', '$interval',
          function($scope, $interval) {
            $scope.blood = 100;

            var stop;
            $scope.fight = function() {

              stop = $interval(function() {
                if ($scope.blood > 0) {
                  $scope.blood--;
                } else {
                  $scope.stopFight();
                }
              }, 100);
            };

            $scope.stopFight = function() {
              $interval.cancel(stop);
            };

            $scope.resetFight = function() {
              $scope.blood = 100;
            };

            $scope.$on('$destroy', function() {
              $scope.stopFight();
            });
          }]);

    </script>
  </head>
  <body ng-app="intervalExample">

    <div ng-controller="ExampleController">
      <font color='red'>{{blood}}</font>
      <button type="button" data-ng-click="fight()">Fight</button>
      <button type="button" data-ng-click="stopFight()">StopFight</button>
    </div>

  </body>
</html>