<html>
  <head>
    <script src="../lib/jquery.min.js"></script>
    <script src='../lib/angular-1.4.1.js'></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      var app = angular.module("app", []);

      app.controller('ctrl', function ($scope, $rootScope) {

        $scope.time = {
          hours: 0,
          minutes: 10,
          seconds: 0,
          howmany: 100
        };

      });
    </script>
  </head>
  <body ng-app="app">

    <div ng-controller="ctrl">

      <label>hours: <input type="range" min=0 max=5 ng-model="time.hours"></label><br>
      <label>minutes: <input type="range" min=0 max=60 ng-model="time.minutes"></label><br>
      <label>seconds: <input type="range" min=0 max=60 ng-model="time.seconds"></label><br>

      <h1>{{ time.hours }}:{{ time.minutes }}:{{ time.seconds }}</h1>

    </div>

  </body>
</html>