<div class="time">
  <span ng-if="finalTime">{{ finalTime | date: 'mm:ss:sss'}}</span>
  <span ng-if="!finalTime">{{ elapsed.time | date: 'mm:ss:sss' }}</span>
</div>

<button ng-click="ten()" class="ten">+10</button>

<br>
<br>

<div ng-repeat="entry in times track by $index">
  <span class="count">{{ entry.howmany }}</span>
  <span class="stage">{{ entry.stage }}</span>
  <span class="cumulative">{{ entry.cumulative }}</span>
<!--   <span class="ok" ng-class="{'bad' : time.plusTooSlow}">{{ time.plusTooSlow ? '+' : '-' }}{{ time.difference | date:'mm:ss'}}</span> -->

</div>