<div class="jumbo" ng-if="finalTime">{{ finalTime | mydate }}</div>
<div class="jumbo">{{ howmany }} / {{ settings.howmany }}</div>

<button ng-click="one()" class="ten" ng-disabled="elapsed.time > settings.time">+1</button>
<button ng-click="ten()" class="ten" ng-disabled="elapsed.time > settings.time">+10</button>

<div class="big">
  &nbsp;&nbsp;limit: {{ settings.minutes | pad : 2 }}:{{ settings.seconds | pad : 2 }}<br>
  elapsed: {{ elapsed.time | mydate : true }}<br>
  &nbsp;&nbsp;to go: {{ elapsed.togo | mydate : true}}
</div>

<br>
<br>

<table>
  <tr>
    <td class="header count">&nbsp;</td>
    <td class="header stage">10</td>
    <td class="header cumulative">Tot</td>
    <td class="header par">Par</td>
    <td class="header diff neutral">Diff</td>
  </tr>

  <tr ng-repeat="entry in times track by $index">
    <td class="count">{{ entry.howmany }}&nbsp;</td>
    <td class="stage">{{ entry.stage | mydate}}&nbsp;</td>
    <td class="cumulative">{{ entry.cumulative | mydate}}&nbsp;</td>
    <td class="par">{{ entry.par | mydate }}&nbsp;</td>
    <td class="diff" ng-class="{ahead: entry.ahead }">
      {{ entry.ahead ? "-" : "" }}{{ entry.diff | mydate }}&nbsp;
    </td>
  </tr>
</table>


<a href="" ng-click="restart()">restart</a>