* {
  font-family: monospace;
}

button {
  zoom: 2;
  padding: 5px;
}

.jumbo {
  font-size: 4em;
  font-weight: bold;
}

.big {
  font-size: 2em;
  font-weight: bold;
}

.count, .stage, .cumulative, .diff, .par {
  text-align: right;
  display: inline-block;
  width: 68px;
}

.count {
  width: 30px;
}

.diff {
  color: red;
}

.diff.neutral {
  color: black;
}

.diff.ahead {
  color: green;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

