* {
  font-family: monospace;
}

button {
  zoom: 2;
  padding: 5px;
}

.time {
  font-size: 2em;
}

.count, .stage, .cumulative, .status {
  width: 70px;
  text-align: right;
  display: inline-block;
}

.status {
  color: red;
}

.status.ahead {
  color: green;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

